.svg_image {
    width: 130px;
    height: 20px;
    display: block;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header li {
    list-style: none;
}

.footer li {
    list-style: none;
}

ul {
    padding: 0;
}

.header {
    height: 62px;
    padding: 0 18px 0 256px;
    display: flex;
    flex-direction: row;
    background-color: #21033a;
    position: fixed;
    top: 0;
    transition: all linear 0.2s;
    z-index: 9999999999;
}

.login_trips a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-right: 15px;
}

.login_trips:hover a {
    color: #f57318;
    cursor: pointer;
}

.btn_login {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 15px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.btn_login i {
    padding: 3px 5px 0 0;
}

.btn_login:hover {
    background-color: #fff;
    color: #21033a;
}

.nav_main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #21033a;
    width: 240px;
    min-height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #572981;
    transition: all linear 0.2s;
    overflow: hidden;
    z-index: 9999999999999;
}

.header_list {
    height: 66px;
}

.header_list_btn {
    width: 100%;
    background-color: #21033a;
    height: 100%;
    border: none;
    color: #78648a;
    text-align: left;
    padding-left: 12px;
}

.nav_link {
    color: #78648a;
    height: 43px;
    margin: 2px 8px 0;
    padding: 0 7px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
}

.nav_link:hover span,
.nav_link:hover i,
.nav_link:hover {
    background-color: #e1d9e8;
    color: #9684a4;
}

.nav_link.active span,
.nav_link.active i,
.nav_link.active {
    background-color: #e1d9e8;
    color: #21033a;
}

.nav_link i {
    padding: 7px;
    font-size: 16px;
}

.nav_link span {
    color: #fff;
    margin: 0 0 0 17px;
    font-size: 14px;
}

.nav_1 a {
    border-bottom: 1px solid #572981;
    margin: 15px 8px;
}
.nav_1 p{
    border-bottom: 1px solid #572981;
    margin: 15px 8px;
}

.nav_2 a:last-child {
    border-bottom: 1px solid #572981;
    margin: 15px 8px;
}

.container_content {
    padding: 62px 0 0 240px;
    background-color: #21033a;
    transition: all linear 0.2s;
}

.content {
    transition: all linear 0.2s;
    padding: 36px 30px;
}

.footer {
    padding: 40px 0 0 240px;
    background-color: #130026;
    transition: all linear 0.2s;
}

.container_footer {
    padding: 0 30px;
    transition: all linear 0.2s;
}

.footer_heading h5 {
    font-size: 18px;
    color: #fff;
}

.footer_list_link {
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
    display: block;
}

.footer_list_link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer_img_pay img {
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
}

.footer_policy {
    padding: 50px 0 20px;
    text-align: center;
    width: 100%;
}

.footer_policy_link {
    margin: 0 10px;
    font-size: 12px;
    color: #919191;
}

.footer_policy_link:hover {
    color: #919191;
    text-decoration: underline;
}

.footet_social-media {
    text-align: center;
}

.footet_social {
    color: #fff;
    margin: 0 15px;
    padding: 15px 0;
}

.footer_p {
    color: #d5d5d5;
    text-align: center;
    font-size: 12px;
    padding: 20px 0;
}

.footet_social:hover {
    color: #e1d9e8;
}

.header_list_btn i {
    padding: 10px;
}

.header_list_btn:hover i {
    background-color: #e1d9e8;
    color: #21033a;
    border-radius: 4px;
}

.trips_header {
    background-color: #2d0a3b;
}

.trips_block {
    width: 454px;
    margin: 80px 0 0 0;
}

.trips_btn {
    min-height: 52px;
    max-height: 52px;
    line-height: 18px!important;
    border: 0px;
}

.trips_btn:nth-child(1) {
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #de1666 0%, #73146f 100%);
    background-image: linear-gradient(135deg, rgb(222, 22, 102) 0%, rgb(115, 20, 111) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.trips_btn:nth-child(1):active {
    background: linear-gradient(135deg, #de1666 0%, #73146f 80%);
    background-image: linear-gradient(135deg, rgb(222, 22, 102) 0%, rgb(115, 20, 111) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.trips_btn:nth-child(1):hover {
    background: linear-gradient(135deg, #de1666 0%, #73146f 80%);
    background-image: linear-gradient(135deg, rgb(222, 22, 102) 0%, rgb(115, 20, 111) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.trips_btn:nth-child(2) {
    font-weight: bold;
    color: black;
    background-color: #fff;
}

.trips_btn:nth-child(2):active {
    color: black;
    background-color: #fff;
}

.trips_btn:nth-child(2):hover {
    background-color: #fff;
}

.trips_info_body {
    margin: 50px 0 0 60px;
}

.item_trips {
    margin: 100px 0 0 0;
}

.item_main_trips {
    margin-top: 100px;
    justify-content: space-around;
}

.item_info_trips {
    width: 365.29px;
}

.trips_end {
    text-align: center;
    margin-top: 100px;
    margin-left: -50px;
}

.trips_end .trips_btn {
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #de1666 0%, #73146f 100%);
    background-image: linear-gradient(135deg, rgb(222, 22, 102) 0%, rgb(115, 20, 111) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.trips_end .content_btn:active {
    background: linear-gradient(135deg, #de1666 0%, #73146f 80%);
    background-image: linear-gradient(135deg, rgb(222, 22, 102) 0%, rgb(115, 20, 111) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.trips_end .trips_btn:hover {
    background: linear-gradient(135deg, #de1666 0%, #73146f 80%);
    background-image: linear-gradient(135deg, rgb(222, 22, 102) 0%, rgb(115, 20, 111) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}


/* introduce */

.main_introduce {
    margin-top: 40px;
}

.main_introduce p {
    margin: 10px 0 15px 0;
}

.main_introduce u {
    font-weight: bold;
}

.content_introduce li::marker {
    color: #fff;
    ;
    font-size: 1.5em;
}

.contact_introduce {
    margin: 30px 0 0 0;
    padding-bottom: 90px;
}